*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}
#main{
	width: 100%;
	height: 80px;
	background-color: white;
}
nav{
	width: 100%;
	height: 80px;
	background-color: red;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	line-height: 80px;
	transition: 0.8s all;
}
nav ul li:hover{
	background-color: black;
}
nav ul li a:hover{
	color:red;
}
nav ul li a{
	text-decoration: none;
	color: black;
	padding: 30px;
}
.contact-title
{
	margin-top: 100px;
	color: red;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
form
{
	margin-top: 40px;
	transition: all 4s ease-in-out;
}
.contact-form{
	width: 600px;
	margin: 0 auto;
}
.form-control
{	
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid red;
	color: black;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background: red;
	border: transparent;
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
form .refer{
	background-color: red;
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	height: 50px;
	border: 1px solid transparent;
	margin-top: 20px;
}